<div class="grid-x">
  <div class="cell large-12">
    <h3>Информация о событии</h3>

    <p>Cобытие: <%= @event.name %></p>
    <p>Описание: <%= @event.description %></p>
    <p>Дата начала: <%= @event.start_time %></p>
    <p>Дата окончания: <%= @event.end_time %></p>

    <a class="button" href="/topics/<%= @topic.id %>/<%= @event.id %>/edit">Редактировать</a>
    <a class="button alert" href="/topics/<%= @topic.id %>/<%= @event.id %>/delete">Удалить</a>
    <a class="button hollow secondary" href="/topics/<%=@topic.id%>">Назад к списку cобытий</a>
  </div>
</div>
